<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label class="ion-text-start ion-text-wrap">{{homeTeamName}}</ion-label>
      </ion-col>
      <ion-col class="ion-text-end">{{homeTeamScore}}</ion-col>
      <ion-col class="ion-text-start">{{awayTeamScore}}</ion-col>
      <ion-col>
        <ion-label class="ion-text-end ion-text-wrap">{{awayTeamName}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end match-date" >{{date}}</ion-col>
      <ion-col class="match-hour">{{hour}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-item>